
Chess.sln

Chess/Chess.qrc

Chess/Chess.ui

Chess/Chess.vcxproj

Chess/Chess.vcxproj.filters

Chess/Chess.vcxproj.user

Chess/x64/Debug/ChaseCase.obj

Chess/x64/Debug/Chess.exe.recipe

Chess/x64/Debug/Chess.log

Chess/x64/Debug/Chess.obj

Chess/x64/Debug/Chess.tlog/Chess.lastbuildstate

Chess/x64/Debug/Chess.tlog/Chess.write.1u.tlog

Chess/x64/Debug/Chess.tlog/CL.command.1.tlog

Chess/x64/Debug/Chess.tlog/CL.read.1.tlog

Chess/x64/Debug/Chess.tlog/CL.write.1.tlog

Chess/x64/Debug/Chess.tlog/link.command.1.tlog

Chess/x64/Debug/Chess.tlog/link.read.1.tlog

Chess/x64/Debug/Chess.tlog/link.write.1.tlog

Chess/x64/Debug/Chess.tlog/moc.read.1u.tlog

Chess/x64/Debug/Chess.tlog/moc.write.1u.tlog

Chess/x64/Debug/Chess.tlog/rcc.read.1u.tlog

Chess/x64/Debug/Chess.tlog/rcc.write.1u.tlog

Chess/x64/Debug/Chess.tlog/uic.read.1u.tlog

Chess/x64/Debug/Chess.tlog/uic.write.1u.tlog

Chess/x64/Debug/ChessCase.obj

Chess/x64/Debug/ChessGrid.obj

Chess/x64/Debug/Controler.obj

Chess/x64/Debug/Controller.obj

Chess/x64/Debug/Game.obj

Chess/x64/Debug/main.obj

Chess/x64/Debug/moc_Chess.obj

Chess/x64/Debug/moc_ChessCase.obj

Chess/x64/Debug/moc/moc_Chess.cpp

Chess/x64/Debug/moc/moc_ChessCase.cpp

Chess/x64/Debug/Piece.obj

Chess/x64/Debug/qmake/qtvars_x64_Debug.props

Chess/x64/Debug/qmake/temp/.qmake.stash

Chess/x64/Debug/qmake/temp/6B5DD376-9F77-49B2-9088-F0EA3488B536.Chess.designtime.idx

Chess/x64/Debug/qmake/temp/moc_predefs.h.cbt

Chess/x64/Debug/qmake/temp/props.txt

Chess/x64/Debug/qmake/temp/qtvars_x64_Debug.props

Chess/x64/Debug/qmake/temp/qtvars.log

Chess/x64/Debug/qmake/temp/qtvars.pro

Chess/x64/Debug/qmake/temp/qtvars.vcxproj

Chess/x64/Debug/qmake/temp/qtvars.vcxproj.filters

Chess/x64/Debug/qrc_Chess.obj

Chess/x64/Debug/qt_work.log

Chess/x64/Debug/qt.natvis

Chess/x64/Debug/vc143.pdb

x64/Debug/Chess.exe

x64/Debug/Chess.ilk

x64/Debug/Chess.pdb
